/*Customize whitewater map style with css*/
#map {
	height: calc(100vh - 499px);
	min-height: 350px;
	overflow: visible;
	display: table;
}

#legend {
	font-family: Arial, sans-serif;
	background: #fff;
	padding: 5px;
	margin: 5px;
	border: 2px solid #000;
}
#legend h3 {
	margin-top: 0;
}
#legend img {
	vertical-align: middle;
}